.datepicker__container {
  display: flex;
  flex-direction: column;

  .datepicker__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .datepicker__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .datepicker__day {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      background-color: lightgray;
    }

    .datepicker__date {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      cursor: pointer;

      &.active {
        color: white !important;
        background-color: green;
        border-radius: 50%;
      }

      &.holiday {
        color: red;
      }
    }
  }
}
